body {
    background-Image: linear-gradient(to right, #ff7e5f, #feb47b);
    height: 100vh;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    filter: brightness(0.9);
}

.button:active {
    filter: brightness(0.8);
}

.person-selector {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin-top: 3am auto 1em;
    max-width: 40em;
}

.person-selector-button {
    width: 100%;
    background-color:  #000000;
    color : white;
    font-size: 1.1em;
}

.active-person {
    background: #ff0000;
    box-shadow: 0 0 10px #ff0000;
}

.chat-container {
    background: #303030;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
    padding: 0.5em, 1.25em;
    margin: auto;
    max-width: 35em;
    height: 35em;
    box-shadow: #000000 0px 0px 10px;
}

.chat-title {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.chat-title h2 {
    font-size: 1.5em;
    font-weight: bold;
}
.chat-messages {
    height: 25em;
    overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.message {
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.message-content {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}

.message-time {
    font-size: 0.75em;
    text-align: right;
}

.red {
    background-color: #ff0000;
}

.gray { 
    background-color: #606060; 
}

.chat-input-form {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.message-input {
    padding: 0.625em;
    border-radius: 0.5em;
    border: none;
    font-size: 1em;
    flex-grow: 1;
}

.send-button {
    background-color: #ff0000;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.625em;
}

.clear-button {
    display: block;
    margin: 3.5em auto;
}